{% extends "layout.html" %}
{% block pageBody %}

    <div class="top-head">
        <h1>CeDoTasks</h1>

    </div>
    <div class="container">
        <ul>
            {% for item in list %}
                <li>
                    <a href="lists/{{ item.id }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Add A List</h2>

        <form action="/" method="post">{% csrf_token %}
            <div class="input">
                {{ form.title }}
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
{% endblock %}