{% extends "layout.html" %}
{% block pageBody %}
    <div class="top-head">
        <h1>CeDoTasks</h1>

        <h2>THINGS TO DO</h2>
    </div>
    <div class="container">
        <form action="." method="post">
            {% csrf_token %}
            <div class="input">
                {{ newTaskForm.title }}
                <input type="submit" value="Add">
            </div>
        </form>
        <form action="." method="post" id="task-list">
            <!-- To Do List Item -->
            <ul>
                {% for item in task %}

                    <li>
                        <input id="item-1" name="id" value="1" type="checkbox">
                        {{ item.title }}
                        <a class="delete" href="#">&#10008;</a>
                    </li>
                {% endfor %}

            </ul>
            <button type="submit">Done</button>

        </form>
    </div>
{% endblock %}