	<div class="top-head">
		<h1>My Awesome Task Manager</h1>
		<h2>THINGS TO DO</h2>
	</div>
	<div class="container">
		<form action="">
			<div class="input">
				<input id="todo-input" type="text">
				<input type="submit" value="Add">
			</div>
		</form>
		<form id="task-list">
			<!-- To Do List Item -->
			<ul>
				<li>
					<input id="item-1" name="id" value="1" type="checkbox">
					<label for="item-1">task.title</label>
					<a class="delete" href="#">&#10008;<a>
				</li>
				<li>
					<input id="item-2" name="id" value="1" type="checkbox">
					<label for="item-2">Study More</label>
					<a class="delete" href="#">&#10008;<a>
				</li>
				<li>
					<input id="item-3" name="id" value="1" type="checkbox">
					<label for="item-3">Study Much More</label>
					<a class="delete" href="#">&#10008;<a>
				</li>
				<li>
					<input id="item-4" name="id" value="1" type="checkbox">
					<label for="item-4">Check Facebook!</label>
					<a class="delete" href="#">&#10008;<a>
				</li>
			</ul>
			<button type="submit">Done</button>

		</form>
	</div>