{% extends "layout.html" %}
{% block pageBody %}
    <div class="top-head">
        <h1>CeDoTasks</h1>

        <h2>THINGS TO DO</h2>
    </div>
    <div class="container">
        <form action="." method="post">
            {% csrf_token %}
            <div class="input">
                {{ newTaskForm.title }}
                <input type="submit" value="Add">
            </div>
        </form>
        <form action="." method="post" id="task-list">
            {% csrf_token %}
            <!-- To Do List Item -->
            <ul>
                {% for item in task %}
                    <li>
                        Del <input class="deleted" type="checkbox" value="{{ item.id }}" name="Deletechoices[]">
                        Don <input type="checkbox" value="{{ item.id }}" name="Donechoices[]">
                        {{ item.title }}
                    </li>
                {% endfor %}

            </ul>
            <button type="submit" name="done">Done</button>
            <button type="submit" name="delete">Delete</button>


        </form>
    </div>
{% endblock %}